<div class="container mt-5">
  <div class="row">
    <% movies.forEach(movie => { %>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= movie.name %></h5>
          <div>
            <!-- loop through array of genre -->
            <% movie.genre.forEach(genre => {%>
            <span class="badge badge-secondary">
              <%= genre.name %>
            </span>
            <% }) %>
          </div>
          <p class="card-text text-capitalize">
            <%= movie.location %>
          </p>
          <p class="text-muted card-text text-capitalize">
            by - <%= movie.directedBy.firstname %> <%=
            movie.directedBy.lastname %>
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>