<form action="/new" method="post">
	<input name="name" placeholder="Movie name" />

	<input name="country" placeholder="Country" />

	<!-- <select name="genre[]">
    <option value="">Select One</option>
  </select> -->
	<% genres.forEach(genre => { %>
	<input type="checkbox" value="<%= genre._id %>" name="genre" id="" /> <%=
	genre.name %> <% }) %>

	<select name="directedBy">
		<option value="">Director</option>
		<% people.forEach(person => { %>
		<option value="<%= person._id %>"
			><%= person.firstname %> <%= person.lastname %></option
		>
		<% }) %>
	</select>

	<button type="submit">Insert Movie</button>
</form>
