<form action="/new" method="post">
	<input name="name" placeholder="Movie name" />

	<input name="country" placeholder="Country" />

	<!-- <select name="genre[]">
    <option value="">Select One</option>
  </select> -->

	<select name="genre">
		<option value="">Genres</option>
		<% genres.forEach(genre => { %>
		<option value="<%= genre._id %>"><%= genre.name %></option>
		<% }) %>
	</select>

	<select name="directedBy">
		<option value="">Director</option>
		<% people.forEach(person => { %>
		<option value="<%= person._id %>"
			><%= person.firstname %> <%= person.lastname %></option
		>
		<% }) %>
	</select>

	<button type="submit">Insert Movie</button>
</form>
