<form action="/new" method="post">
  <input name="name" placeholder="movie name" />

  <input name="country" placeholder="Singapore" />

  <!-- <select name="cuisine[]">
    <option value="">Select One</option>
  </select> -->
  <% cuisines.forEach(cuisine => { %>
  <input type="checkbox" value="<%= cuisine._id %>" name="cuisine" id="" /> <%=
  cuisine.name %> <% }) %>

  <select name="directedBy">
    <option value="">Select One</option>
    <% people.forEach(person => { %>
    <option value="<%= person._id %>"><%= person.firstname %> <%= person.lastname %></option>
    <% }) %>
  </select>

  <button type="submit">Insert Movie</button>
</form>